In [ ]:
#this will open and read the text file
with open("census_cost.txt" , "rt") as f:
    line_list = f.readlines()

#print the lines
print(line_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [ ]:
#displays the data in a neat table
for row in line_list:
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [ ]:
#save only the data elements to a new file
with open("new_file.txt" , "wt") as f:
  for line in line_list[2:25]:
    f.write(line)

print()

In [ ]:
#puts the first two lines in a seperate list and prints them
top2_list = []
for line in line_list[0:2]:
  top2_list.append(line)

print(top2_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [ ]:
#puts the rest of the data in a list and prints them
data_list = []
for line in line_list[2:25]:
  data_list.append(line.strip().split("\t"))
 
print(data_list)

[['1790', '3,929,214', '$44,377', '1.13 cents'], ['1800', '5,308,483', '$66,109', '1.24 cents'], ['1810', '7,239,881', '$178,445', '2.46 cents'], ['1820', '9,633,822', '$208,526', '2.16 cents'], ['1830', '12,866,020', '$378,545', '2.94 cents'], ['1840', '17,069,458', '$833,371', '4.88 cents'], ['1850', '23,191,876', '$1,423,351', '6.14 cents'], ['1860', '31,443,321', '$1,969,377', '6.26 cents'], ['1870', '38,558,371', '$3,421,198', '8.87 cents'], ['1880', '50,155,783', '$5,790,678', '11.54 cents'], ['1890', '62,979,766', '$11,547,127', '18.33 cents'], ['1900', '76,303,387', '$11,854,000', '15.54 cents'], ['1910', '91,972,266', '$15,968,000', '17.07 cents'], ['1920', '105,710,620', '$25,117,000', '23.76 cents'], ['1930', '122,775,046', '$40,156,000', '32.71 cents'], ['1940', '131,669,275', '$67,527,000', '51.29 cents'], ['1950', '151,325,798', '$91,462,000', '60.44 cents'], ['1960', '179,323,175', '$127,934,000', '71.34 cents'], ['1970', '203,302,031', '$247,653,000', '$1.22'], ['1980', '226,542,199', '$1,078,488,000', '$4.76'], ['1990', '248,718,301', '$2,492,830,000', '$10.02'], ['2000', '281,421,906', '$4.5 Billion', '$15.99'], ['2010*', '308,745,538', '$13 Billion', '$42.11']]

In [ ]:
#takes the census year and assigns it into a new list
year_list = []
for line in data_list[0:]:
  year_list.append(line[0])

for x in range(0,23):
  year_list[x] = year_list[x].replace("*" , "")
  
print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

In [ ]:
#takes the population and assigns it into a new list
pop_list = []
for line in data_list[0:]:
  pop_list.append(line[1])

for x in range(0,23):
  pop_list[x] = pop_list[x].replace("," , "")

print(pop_list)

['3929214', '5308483', '7239881', '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

In [ ]:
#takes the census cost and assigns it into a new list
cost_list = []
for line in data_list[0:]:
  cost_list.append(line[2])

for x in range(0,23):
  cost_list[x] = cost_list[x].replace("," , "")
  cost_list[x] = cost_list[x].replace("$" , "")
  cost_list[x] = cost_list[x].replace(".5 Billion" , "500000000")
  cost_list[x] = cost_list[x].replace(" Billion" , "000000000")

print(cost_list)

['44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4500000000', '13000000000']

In [ ]:
#takes the average cost per person and assigns it into a new list
avg_list = []
for line in data_list[0:]:
  avg_list.append(line[3])

for x in range(0,23):
  avg_list[x] = avg_list[x].replace("$" , "")
  avg_list[x] = avg_list[x].replace(" cents" , "")

for y in range(0,17):
  avg_list[y] = round((float(avg_list[y])/100) , 4)
  avg_list[y] = str(avg_list[y])

print(avg_list)

['0.0113', '0.0124', '0.0246', '0.0216', '0.0294', '0.0488', '0.0614', '0.0626', '0.0887', '0.1154', '0.1833', '0.1554', '0.1707', '0.2376', '0.3271', '0.5129', '0.6044', '71.34', '1.22', '4.76', '10.02', '15.99', '42.11']

In [ ]:
#puts all the cleaned data into one file
import csv
with open("census_cost.csv" , "w" , newline = "\n") as f:
  f.write((top2_list[0]))
  f.write(top2_list[1])
  for x in range(0,23):
   f.write((year_list[x]))
   f.write(" ")
   f.write((pop_list[x]))
   f.write(" ")
   f.write((cost_list[x]))
   f.write(" ")
   f.write((avg_list[x]))
   f.write("\n")
print()