Meaning of the variables:

UNITID - Unit ID for institution

INSTNM - Institution name

CITY - City where the institution is located

STABBR - State postcode where the institution is located

ZIP - Zip code where the instutition is located

ADM_RATE - Overall admission rate

UGDS - Enrollment of undergraduate certificate/degree-seeking students

TUITIONFEE_IN - In-state tuition and fees

MN_EARN_WNE_P10 - Median earning of students working and not enrolled 10 years after entry

In [2]:
#exploring college scorecard data from excel file and then trasnfering information into a new file

#importing the libraries  and files needed for the assignment
import numpy as np
from random import randint
import pandas as pd
import csv

with open ("MERGED2017_18_PP.csv","r") as file:
  data = pd.read_csv("MERGED2017_18_PP.csv", low_memory=False)

In [3]:
#prints the numbers of rows and columns
print("The number of rows, columns:" , data.shape , end='\n')

The number of rows, columns: (7112, 1986)

In [4]:
#prints the first 5 colleges
print("These are the first five colleges:")
for x in range(5):
  print(data['INSTNM'].iloc[x])

These are the first five colleges:
Alabama A & M University
University of Alabama at Birmingham
Amridge University
University of Alabama in Huntsville
Alabama State University

In [5]:
#prints the last 5 colleges
print("These are the last five colleges:")
for x in range(1,6):
  print(data['INSTNM'].iloc[-x])

These are the last five colleges:
HCI College - Fort Lauderdale Campus
BCI - Malden
High Desert Medical College - Bakerfield
Bay Area Medical Academy - San Jose Satellite Location
Arizona State University at Yuma

In [6]:
#prints 5 random colleges
print("These are five random colleges:")
for x in range(5):
  print(data['INSTNM'].iloc[randint(0,7112)])

These are five random colleges:
Model College of Hair Design
Sessions College for Professional Design
Broadview University - Globe University - Sioux Falls - Teach-Out
Cleveland Institute of Dental-Medical Assistants-Cleveland
Fordham University

In [7]:
#creates a smaller data frame with variables below
new_df = data.filter(['UNITID', 'INSTNM','CITY','STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10'], axis=1)

In [8]:
#prints the first 10 colleges of the new data frame
print("These are the first ten colleges:")
for x in range(10):
  print(new_df['INSTNM'].iloc[x])

These are the first ten colleges:
Alabama A & M University
University of Alabama at Birmingham
Amridge University
University of Alabama in Huntsville
Alabama State University
The University of Alabama
Central Alabama Community College
Athens State University
Auburn University at Montgomery
Auburn University

In [9]:
#prints the last 10 colleges of the new data frame
print("These are the last ten colleges:")
for x in range(1,11):
  print(new_df['INSTNM'].iloc[-x])

These are the last ten colleges:
HCI College - Fort Lauderdale Campus
BCI - Malden
High Desert Medical College - Bakerfield
Bay Area Medical Academy - San Jose Satellite Location
Arizona State University at Yuma
Arizona State University at The Gila Valley
Arizona State University - ASU Colleges at Lake Havasu City
Arizona State University at Tucson
Barber School of Pittsburgh - Ambridge
National Personal Training Institute of Cleveland

In [10]:
#prints 10 random colleges of the new data
print("These are ten random colleges:")
for x in range(10):
  print(new_df['INSTNM'].iloc[randint(0,7112)])

These are ten random colleges:
Sacramento Center
Empire Beauty School-West Mifflin
Elevate Salon Institute-Westminster
Academy Di Capelli -
Franciscan School of Theology
Empire Beauty School-Union
MyComputerCareer.com
United States Naval Academy
Eastern New Mexico University-Roswell Campus
Louisiana State University-Shreveport

In [11]:
#finds and displays specific colleges
uni_list = []
  
print(end='\n')
index_value = new_df[new_df['INSTNM'] == 'University of Maryland-Baltimore County'].index.values
print(new_df.loc[index_value])
uni_list.append(int(new_df['TUITIONFEE_IN'].iloc[index_value]))

print(end='\n')
index_value1 = new_df[new_df['INSTNM'] == 'University of Maryland-College Park'].index.values
print(new_df.loc[index_value1])
uni_list.append(int(new_df['TUITIONFEE_IN'].iloc[index_value1]))

print(end='\n')
index_value2 = new_df[new_df['INSTNM'] == 'Loyola University Maryland'].index.values
print(new_df.loc[index_value2])
uni_list.append(int(new_df['TUITIONFEE_IN'].iloc[index_value2]))

print(end='\n')
index_value3 = new_df[new_df['INSTNM'] == 'Johns Hopkins University'].index.values
print(new_df.loc[index_value3])
uni_list.append(int(new_df['TUITIONFEE_IN'].iloc[index_value3]))

      UNITID  ... MN_EARN_WNE_P10
1478  163268  ...             NaN

[1 rows x 9 columns]

      UNITID  ... MN_EARN_WNE_P10
1479  163286  ...             NaN

[1 rows x 9 columns]

      UNITID                      INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1475  163046  Loyola University Maryland  ...       47560.0             NaN

[1 rows x 9 columns]

      UNITID                    INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1473  162928  Johns Hopkins University  ...       52170.0             NaN

[1 rows x 9 columns]

In [12]:
#calculate the min, max, average in-state tuition for those colleges
print("The minimum in-state tuition out of those colleges is $" , min(uni_list))
print("The maximum in-state tuition out of those colleges is $" , max(uni_list))
print("The average in-state tuition out of those colleges is $" , np.average(uni_list))

The minimum in-state tuition out of those colleges is $ 10399
The maximum in-state tuition out of those colleges is $ 52170
The average in-state tuition out of those colleges is $ 30411.75

In [13]:
#creates a csv file
new_delmarvapadc = new_df.loc[(new_df['STABBR'] =='DE')]
new_delmarvapadc = new_delmarvapadc.append(new_df.loc[(new_df['STABBR'] =='MD')])
new_delmarvapadc = new_delmarvapadc.append(new_df.loc[(new_df['STABBR'] =='VA')])
new_delmarvapadc = new_delmarvapadc.append(new_df.loc[(new_df['STABBR'] =='PA')])
new_delmarvapadc = new_delmarvapadc.append(new_df.loc[(new_df['STABBR'] =='DC')])
  
new_delmarvapadc.to_csv("Five_States_Colleges.csv")
  
print(end='\n')
print("File created!")

File created!