1. Explore College Scorecard website - https://collegescorecard.ed.gov/

2. Explore College Scorecard Data web page - https://collegescorecard.ed.gov/data/

3. Download and read the documentation - https://collegescorecard.ed.gov/assets/FullDataDocumentation.pdf

4. Download the dataset - https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip (265MB Zip File)

5. Unzip the file into a folder in your personal computer (there are many files, one for each school year)

Steps 1-5 done before typing any code

In [1]:
#exploring college scorecard data from excel file and then trasnfering information into a new file

#importing the libraries and files needed for the assignment
import numpy as np
from random import randint
import pandas as pd
import csv

6. Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset:

In [2]:
#uploads the csv with pandas
data = pd.read_csv("MERGED2017_18_PP.csv", low_memory=False)

How many colleges or rows?

How many variables or columns?

In [3]:
#prints the numbers of rows and columns
print("The number of rows, columns:" , data.shape , end='\n')

The number of rows, columns: (7112, 1986)

Look at the first 5 colleges

In [4]:
#prints the first 5 colleges
print("These are the first five colleges:")
print(data.head())

#this code only prints the name
#for x in range(5):
  #print(data['INSTNM'].iloc[x])

These are the first five colleges:
   UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0  100654   100200  ...                       NaN            NaN
1  100663   105200  ...                       NaN            NaN
2  100690  2503400  ...                       NaN            NaN
3  100706   105500  ...                       NaN            NaN
4  100724   100500  ...                       NaN            NaN

[5 rows x 1986 columns]

Look at the last 5 colleges

In [5]:
#prints the last 5 colleges
print("These are the last five colleges:")
print(data.tail())

#this code only prints the name
#for x in range(1,6):
 # print(data['INSTNM'].iloc[-x])

These are the last five colleges:
        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[5 rows x 1986 columns]

Look at a random sample of 5 colleges

In [20]:
#prints 5 random colleges
print("These are five random colleges:")
for x in range(5):
  print(data.sample())

#this code only prints the name
#for x in range(5):
  #print(data['INSTNM'].iloc[randint(0,7112)])

These are five random colleges:
      UNITID   OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
2374  194763  397800  ...                       NaN            NaN

[1 rows x 1986 columns]
      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
5748  460011  3052301  ...                       NaN            NaN

[1 rows x 1986 columns]
      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
6336  484899  4194501  ...                       NaN            NaN

[1 rows x 1986 columns]
      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
4619  420440  3122900  ...                       NaN            NaN

[1 rows x 1986 columns]
      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
2832  207157  1026600  ...                       NaN            NaN

[1 rows x 1986 columns]

7. Since there are too many variables to explore, many of which are not interesting. Create a smaller data frame with the following 9 variables:

*   UNITID
*   INSTNM
*   CITY
*   STABBR
*   ZIP
*   ADM_RATE
*   UGDS
*   TUITIONFEE_IN
*   MN_EARN_WNE_P10

In [10]:
#creates a smaller data frame with variables below
new_df = data.filter(['UNITID', 'INSTNM','CITY','STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10'], axis=1)

8. Download and read the data dictionary file - https://collegescorecard.ed.gov/assets/CollegeScorecardDataDictionary.xlsx

9. Find out the definition of the above 9 variables and document the definitions in the Jupyter Notebook in a Markdown cell so that the readers of your notebook will know the meaning of these variables.

Meaning of the variables:

UNITID - Unit ID for institution

INSTNM - Institution name

CITY - City where the institution is located

STABBR - State postcode where the institution is located

ZIP - Zip code where the instutition is located

ADM_RATE - Overall admission rate

UGDS - Enrollment of undergraduate certificate/degree-seeking students

TUITIONFEE_IN - In-state tuition and fees

MN_EARN_WNE_P10 - Median earning of students working and not enrolled 10 years after entry

10. Explore the smaller data frame

Look at the first 10 colleges

In [11]:
#prints the first 10 colleges of the new data frame
print("These are the first ten colleges:")
print(new_df.head(10))

#this code only prints the name
#for x in range(10):
  #print(new_df['INSTNM'].iloc[x])

These are the first ten colleges:
   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN
5  100751            The University of Alabama  ...       10780.0             NaN
6  100760    Central Alabama Community College  ...        4440.0             NaN
7  100812              Athens State University  ...           NaN             NaN
8  100830      Auburn University at Montgomery  ...        8020.0             NaN
9  100858                    Auburn University  ...       10968.0             NaN

[10 rows x 9 columns]

Look at the last 10 colleges

In [12]:
#prints the last 10 colleges of the new data frame
print("These are the last ten colleges:")
print(new_df.tail(10))

#this code only prints the name
#for x in range(1,11):
  #print(new_df['INSTNM'].iloc[-x])

These are the last ten colleges:
        UNITID  ... MN_EARN_WNE_P10
7102  48154401  ...             NaN
7103  48305401  ...             NaN
7104  48312401  ...             NaN
7105  48312402  ...             NaN
7106  48312403  ...             NaN
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[10 rows x 9 columns]

Look at a random sample of 10 colleges

In [21]:
#prints 10 random colleges of the new data
print("These are ten random colleges:")
for x in range(10):
  print(new_df.sample())

#this code only prints the name
#for x in range(10):
  #print(new_df['INSTNM'].iloc[randint(0,7112)])

These are ten random colleges:
     UNITID                INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
388  118994  Moler Barber College  ...           NaN             NaN

[1 rows x 9 columns]
      UNITID             INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1126  151810  Martin University  ...       13200.0             NaN

[1 rows x 9 columns]
      UNITID                     INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
2747  204617  Ohio Dominican University  ...       31080.0             NaN

[1 rows x 9 columns]
      UNITID  ... MN_EARN_WNE_P10
4315  382258  ...             NaN

[1 rows x 9 columns]
      UNITID             INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
4388  402563  Delta College Inc  ...           NaN             NaN

[1 rows x 9 columns]
      UNITID                          INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
3127  215585  Reading Area Community College  ...        5460.0             NaN

[1 rows x 9 columns]
      UNITID                          INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
3037  213446  Lancaster Theological Seminary  ...           NaN             NaN

[1 rows x 9 columns]
      UNITID  ... MN_EARN_WNE_P10
4539  417983  ...             NaN

[1 rows x 9 columns]
      UNITID  ... MN_EARN_WNE_P10
2646  201539  ...             NaN

[1 rows x 9 columns]
      UNITID             INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
3190  217165  Bryant University  ...       42109.0             NaN

[1 rows x 9 columns]

Find and display UMBC

Find Univ. of Maryland College Park

Find and display Loyola College Maryland

Find and display Johns Hopskins

In [15]:
#finds and displays specific colleges
uni_list = []
  
print(end='\n')
index_value = new_df[new_df['INSTNM'] == 'University of Maryland-Baltimore County'].index.values
print(new_df.loc[index_value])
uni_list.append(int(new_df['TUITIONFEE_IN'].iloc[index_value]))

print(end='\n')
index_value1 = new_df[new_df['INSTNM'] == 'University of Maryland-College Park'].index.values
print(new_df.loc[index_value1])
uni_list.append(int(new_df['TUITIONFEE_IN'].iloc[index_value1]))

print(end='\n')
index_value2 = new_df[new_df['INSTNM'] == 'Loyola University Maryland'].index.values
print(new_df.loc[index_value2])
uni_list.append(int(new_df['TUITIONFEE_IN'].iloc[index_value2]))

print(end='\n')
index_value3 = new_df[new_df['INSTNM'] == 'Johns Hopkins University'].index.values
print(new_df.loc[index_value3])
uni_list.append(int(new_df['TUITIONFEE_IN'].iloc[index_value3]))

      UNITID  ... MN_EARN_WNE_P10
1478  163268  ...             NaN

[1 rows x 9 columns]

      UNITID  ... MN_EARN_WNE_P10
1479  163286  ...             NaN

[1 rows x 9 columns]

      UNITID                      INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1475  163046  Loyola University Maryland  ...       47560.0             NaN

[1 rows x 9 columns]

      UNITID                    INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1473  162928  Johns Hopkins University  ...       52170.0             NaN

[1 rows x 9 columns]

Calculate the min, max, and average in-state tution of the above four institutions.

In [16]:
#calculate the min, max, average in-state tuition for those colleges
print("The minimum in-state tuition out of those colleges is $" , min(uni_list))
print("The maximum in-state tuition out of those colleges is $" , max(uni_list))
print("The average in-state tuition out of those colleges is $" , np.average(uni_list))

The minimum in-state tuition out of those colleges is $ 10399
The maximum in-state tuition out of those colleges is $ 52170
The average in-state tuition out of those colleges is $ 30411.75

11. Filter the smaller dataset further to only keep colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia. Save the filtered dataset to a new file named "Five_States_Colleges.csv" for future analysis. Upload this file to your GitHub along with the notebook.

In [19]:
#creates a csv file
new_delmarvapadc = new_df.loc[(new_df['STABBR'] =='DE')]
new_delmarvapadc = new_delmarvapadc.append(new_df.loc[(new_df['STABBR'] =='MD')])
new_delmarvapadc = new_delmarvapadc.append(new_df.loc[(new_df['STABBR'] =='VA')])
new_delmarvapadc = new_delmarvapadc.append(new_df.loc[(new_df['STABBR'] =='PA')])
new_delmarvapadc = new_delmarvapadc.append(new_df.loc[(new_df['STABBR'] =='DC')])
  
new_delmarvapadc.to_csv("Five_States_Colleges.csv")
  
print("File created!")

File created!